<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="point">
            <h2><span jhiTranslate="twentyOnePointsApp.point.detail.title">Point</span> {{point.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="twentyOnePointsApp.point.date">Date</span></dt>
                <dd>
                    <span>{{point.date}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.point.exercise">Exercise</span></dt>
                <dd>
                    <span>{{point.exercise}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.point.meals">Meals</span></dt>
                <dd>
                    <span>{{point.meals}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.point.alcohol">Alcohol</span></dt>
                <dd>
                    <span>{{point.alcohol}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.point.notes">Notes</span></dt>
                <dd>
                    <span>{{point.notes}}</span>
                </dd>
                <dt><span jhiTranslate="twentyOnePointsApp.point.login">Login</span></dt>
                <dd>
                    {{point.login?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/point', point.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
